BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
BLOCK JTAGPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "addr[0]" SITE "P16" ;
LOCATE COMP "addr[1]" SITE "N15" ;
LOCATE COMP "addr[2]" SITE "L13" ;
LOCATE COMP "addr[3]" SITE "K11" ;
LOCATE COMP "addr[4]" SITE "L12" ;
LOCATE COMP "addr[5]" SITE "J11" ;
LOCATE COMP "addr[6]" SITE "J13" ;
LOCATE COMP "addr[7]" SITE "H11" ;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 ;

LOCATE COMP "pc_opx[0]" SITE "N2" ;
LOCATE COMP "pc_opx[1]" SITE "P1" ;

FREQUENCY NET "CLKOP" 80.000000 MHz ;
INPUT_SETUP ALLPORTS 50.000000 ns HOLD 12.000000 ns CLKNET "clk" ;
INPUT_SETUP PORT "reset" 50.000000 ns CLKNET "clk" ;
SYSTEM_JITTER 0.100 ns ; 
