BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

FREQUENCY PORT "PIN_CLK_X1" 12.000000 MHz ;
SYSCONFIG MASTER_SPI_PORT=ENABLE CONFIGURATION=EXTERNAL ;

LOCATE COMP "PIN_RESETN" SITE "B3" ;
LOCATE COMP "PIN_CLK_X1" SITE "C8" ;
LOCATE COMP "PIN_RXD" SITE "C12" ;
LOCATE COMP "PIN_TXD" SITE "E10" ;


LOCATE COMP "DEBUG_WRN" SITE "B4" ; 
LOCATE COMP "DEBUG_RDN" SITE "B5" ;
LOCATE COMP "DEBUG_ADDR[0]"  SITE "A4" ;
LOCATE COMP "DEBUG_ADDR[1]"  SITE "A5" ;
LOCATE COMP "DEBUG_ADDR[2]"  SITE "B7" ; 
LOCATE COMP "DEBUG_DATA[0]"  SITE "B9" ;
LOCATE COMP "DEBUG_DATA[1]"  SITE "D9" ;
LOCATE COMP "DEBUG_DATA[2]"  SITE "F7" ;
LOCATE COMP "DEBUG_DATA[3]"  SITE "A10";
LOCATE COMP "DEBUG_DATA[4]"  SITE "C4" ; 
LOCATE COMP "DEBUG_DATA[5]"  SITE "E6" ;
LOCATE COMP "DEBUG_DATA[6]"  SITE "D6" ; 
LOCATE COMP "DEBUG_DATA[7]"  SITE "C5" ;


IOBUF PORT "PIN_CLK_X1" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "PIN_RXD" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "PIN_TXD" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "PIN_RESETN" PULLMODE=UP IO_TYPE=LVCMOS33 ;

IOBUF PORT "DEBUG_WRN" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_RDN" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_ADDR[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_ADDR[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_ADDR[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_DATA[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_DATA[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_DATA[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_DATA[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_DATA[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_DATA[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_DATA[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG_DATA[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;

###
# Old definitions
#
#LOCATE COMP "PIN_LED[0]" SITE "H11" ;
#LOCATE COMP "PIN_LED[1]" SITE "J13" ;
#LOCATE COMP "PIN_LED[2]" SITE "J11" ;
#LOCATE COMP "PIN_LED[3]" SITE "L12" ;
#LOCATE COMP "PIN_LED[4]" SITE "K11" ;
#LOCATE COMP "PIN_LED[5]" SITE "L13" ;
#LOCATE COMP "PIN_LED[6]" SITE "N15" ;
#LOCATE COMP "PIN_LED[7]" SITE "P16" ;
#LOCATE COMP "PIN_DIPSW[0]" SITE "N2" ;
#LOCATE COMP "PIN_DIPSW[1]" SITE "P1" ;
#LOCATE COMP "PIN_DIPSW[2]" SITE "M3" ;
#LOCATE COMP "PIN_DIPSW[3]" SITE "N1" ;
#
#IOBUF PORT "PIN_DIPSW[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
#IOBUF PORT "PIN_DIPSW[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
#IOBUF PORT "PIN_DIPSW[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
#IOBUF PORT "PIN_DIPSW[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
#
#IOBUF PORT "PIN_LED[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
#IOBUF PORT "PIN_LED[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
#IOBUF PORT "PIN_LED[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
#IOBUF PORT "PIN_LED[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
#IOBUF PORT "PIN_LED[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
#IOBUF PORT "PIN_LED[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
#IOBUF PORT "PIN_LED[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
#IOBUF PORT "PIN_LED[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;

