#
# Logical Preferences generated for Lattice by Synplify map202103lat, Build 070R.
#

# Period Constraints 
#FREQUENCY PORT "PIN_CLK_X1" 100.0 MHz;
#FREQUENCY PORT "PIN_DEBUG_WRN" 100.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "PIN_DEBUG_WRN_c" TO CLKNET "PIN_CLK_X1_c";
#BLOCK PATH FROM CLKNET "PIN_CLK_X1_c" TO CLKNET "PIN_DEBUG_WRN_c";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
