#
# Logical Preferences generated for Lattice by Synplify map202103lat, Build 070R.
#

# Period Constraints 
#FREQUENCY PORT "PIN_CLK_X1" 100.0 MHz;
#FREQUENCY NET "coreInst/instructionPhaseDecoderInst/EXECUTE_c" 100.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
