(edif rom
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2023 10 25 17 23 34)
      (program "SCUBA" (version "Diamond (64-bit) 3.12.1.454"))))
      (comment "C:\lscc\diamond\3.12\ispfpga\bin\nt64\scuba.exe -w -n rom -lang verilog -synth synplify -bus_exp 7 -bb -arch xo3c00a -type rom -addr_width 5 -num_rows 32 -data_width 16 -outdata UNREGISTERED -memfile c:/users/duncan/git/forthcpu/bootrom/source/bootrom.mem -memformat orca ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell ROM32X1A
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port AD4
            (direction INPUT))
          (port AD3
            (direction INPUT))
          (port AD2
            (direction INPUT))
          (port AD1
            (direction INPUT))
          (port AD0
            (direction INPUT))
          (port DO0
            (direction OUTPUT)))))
    (cell rom
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port (array (rename Address "Address(4:0)") 5)
            (direction INPUT))
          (port (array (rename Q "Q(15:0)") 16)
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance mem_0_15
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x0000000C")))
          (instance mem_0_14
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x0000000C")))
          (instance mem_0_13
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x0000000C")))
          (instance mem_0_12
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x000000FF")))
          (instance mem_0_11
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x0000000C")))
          (instance mem_0_10
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x0000000C")))
          (instance mem_0_9
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x0000000C")))
          (instance mem_0_8
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x0000000C")))
          (instance mem_0_7
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x00000000")))
          (instance mem_0_6
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x00000000")))
          (instance mem_0_5
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x00000000")))
          (instance mem_0_4
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x00000000")))
          (instance mem_0_3
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x00000000")))
          (instance mem_0_2
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x00000000")))
          (instance mem_0_1
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x00000000")))
          (instance mem_0_0
            (viewRef view1 
              (cellRef ROM32X1A))
            (property initval
              (string "0x00000000")))
          (net qdataout15
            (joined
              (portRef (member Q 0))
              (portRef DO0 (instanceRef mem_0_15))))
          (net qdataout14
            (joined
              (portRef (member Q 1))
              (portRef DO0 (instanceRef mem_0_14))))
          (net qdataout13
            (joined
              (portRef (member Q 2))
              (portRef DO0 (instanceRef mem_0_13))))
          (net qdataout12
            (joined
              (portRef (member Q 3))
              (portRef DO0 (instanceRef mem_0_12))))
          (net qdataout11
            (joined
              (portRef (member Q 4))
              (portRef DO0 (instanceRef mem_0_11))))
          (net qdataout10
            (joined
              (portRef (member Q 5))
              (portRef DO0 (instanceRef mem_0_10))))
          (net qdataout9
            (joined
              (portRef (member Q 6))
              (portRef DO0 (instanceRef mem_0_9))))
          (net qdataout8
            (joined
              (portRef (member Q 7))
              (portRef DO0 (instanceRef mem_0_8))))
          (net qdataout7
            (joined
              (portRef (member Q 8))
              (portRef DO0 (instanceRef mem_0_7))))
          (net qdataout6
            (joined
              (portRef (member Q 9))
              (portRef DO0 (instanceRef mem_0_6))))
          (net qdataout5
            (joined
              (portRef (member Q 10))
              (portRef DO0 (instanceRef mem_0_5))))
          (net qdataout4
            (joined
              (portRef (member Q 11))
              (portRef DO0 (instanceRef mem_0_4))))
          (net qdataout3
            (joined
              (portRef (member Q 12))
              (portRef DO0 (instanceRef mem_0_3))))
          (net qdataout2
            (joined
              (portRef (member Q 13))
              (portRef DO0 (instanceRef mem_0_2))))
          (net qdataout1
            (joined
              (portRef (member Q 14))
              (portRef DO0 (instanceRef mem_0_1))))
          (net qdataout0
            (joined
              (portRef (member Q 15))
              (portRef DO0 (instanceRef mem_0_0))))
          (net addr4
            (joined
              (portRef (member Address 0))
              (portRef AD4 (instanceRef mem_0_15))
              (portRef AD4 (instanceRef mem_0_14))
              (portRef AD4 (instanceRef mem_0_13))
              (portRef AD4 (instanceRef mem_0_12))
              (portRef AD4 (instanceRef mem_0_11))
              (portRef AD4 (instanceRef mem_0_10))
              (portRef AD4 (instanceRef mem_0_9))
              (portRef AD4 (instanceRef mem_0_8))
              (portRef AD4 (instanceRef mem_0_7))
              (portRef AD4 (instanceRef mem_0_6))
              (portRef AD4 (instanceRef mem_0_5))
              (portRef AD4 (instanceRef mem_0_4))
              (portRef AD4 (instanceRef mem_0_3))
              (portRef AD4 (instanceRef mem_0_2))
              (portRef AD4 (instanceRef mem_0_1))
              (portRef AD4 (instanceRef mem_0_0))))
          (net addr3
            (joined
              (portRef (member Address 1))
              (portRef AD3 (instanceRef mem_0_15))
              (portRef AD3 (instanceRef mem_0_14))
              (portRef AD3 (instanceRef mem_0_13))
              (portRef AD3 (instanceRef mem_0_12))
              (portRef AD3 (instanceRef mem_0_11))
              (portRef AD3 (instanceRef mem_0_10))
              (portRef AD3 (instanceRef mem_0_9))
              (portRef AD3 (instanceRef mem_0_8))
              (portRef AD3 (instanceRef mem_0_7))
              (portRef AD3 (instanceRef mem_0_6))
              (portRef AD3 (instanceRef mem_0_5))
              (portRef AD3 (instanceRef mem_0_4))
              (portRef AD3 (instanceRef mem_0_3))
              (portRef AD3 (instanceRef mem_0_2))
              (portRef AD3 (instanceRef mem_0_1))
              (portRef AD3 (instanceRef mem_0_0))))
          (net addr2
            (joined
              (portRef (member Address 2))
              (portRef AD2 (instanceRef mem_0_15))
              (portRef AD2 (instanceRef mem_0_14))
              (portRef AD2 (instanceRef mem_0_13))
              (portRef AD2 (instanceRef mem_0_12))
              (portRef AD2 (instanceRef mem_0_11))
              (portRef AD2 (instanceRef mem_0_10))
              (portRef AD2 (instanceRef mem_0_9))
              (portRef AD2 (instanceRef mem_0_8))
              (portRef AD2 (instanceRef mem_0_7))
              (portRef AD2 (instanceRef mem_0_6))
              (portRef AD2 (instanceRef mem_0_5))
              (portRef AD2 (instanceRef mem_0_4))
              (portRef AD2 (instanceRef mem_0_3))
              (portRef AD2 (instanceRef mem_0_2))
              (portRef AD2 (instanceRef mem_0_1))
              (portRef AD2 (instanceRef mem_0_0))))
          (net addr1
            (joined
              (portRef (member Address 3))
              (portRef AD1 (instanceRef mem_0_15))
              (portRef AD1 (instanceRef mem_0_14))
              (portRef AD1 (instanceRef mem_0_13))
              (portRef AD1 (instanceRef mem_0_12))
              (portRef AD1 (instanceRef mem_0_11))
              (portRef AD1 (instanceRef mem_0_10))
              (portRef AD1 (instanceRef mem_0_9))
              (portRef AD1 (instanceRef mem_0_8))
              (portRef AD1 (instanceRef mem_0_7))
              (portRef AD1 (instanceRef mem_0_6))
              (portRef AD1 (instanceRef mem_0_5))
              (portRef AD1 (instanceRef mem_0_4))
              (portRef AD1 (instanceRef mem_0_3))
              (portRef AD1 (instanceRef mem_0_2))
              (portRef AD1 (instanceRef mem_0_1))
              (portRef AD1 (instanceRef mem_0_0))))
          (net addr0
            (joined
              (portRef (member Address 4))
              (portRef AD0 (instanceRef mem_0_15))
              (portRef AD0 (instanceRef mem_0_14))
              (portRef AD0 (instanceRef mem_0_13))
              (portRef AD0 (instanceRef mem_0_12))
              (portRef AD0 (instanceRef mem_0_11))
              (portRef AD0 (instanceRef mem_0_10))
              (portRef AD0 (instanceRef mem_0_9))
              (portRef AD0 (instanceRef mem_0_8))
              (portRef AD0 (instanceRef mem_0_7))
              (portRef AD0 (instanceRef mem_0_6))
              (portRef AD0 (instanceRef mem_0_5))
              (portRef AD0 (instanceRef mem_0_4))
              (portRef AD0 (instanceRef mem_0_3))
              (portRef AD0 (instanceRef mem_0_2))
              (portRef AD0 (instanceRef mem_0_1))
              (portRef AD0 (instanceRef mem_0_0))))))))
  (design rom
    (cellRef rom
      (libraryRef ORCLIB)))
)
