#
# Logical Preferences generated for Lattice by Synplify map202103lat, Build 070R.
#

# Period Constraints 
#FREQUENCY NET "pll_inst/CLKOS" 1.0 MHz;
#FREQUENCY NET "psc/pc_clk" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 

#MULTICYCLE FROM CLKNET "psc/pc_clk"  TO CLKNET "psc/pc_clk"  2X;


# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
